<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>All Recipes</title>
</head>

<body>

   <%- include('navbar') %>

<h2>All Recipes</h2>

<a href="/recipes/new">
  <button>Add New Recipe</button>
</a>

<% recipes.forEach(recipe => { %>
  <div style="border:1px solid #ccc; padding:10px; margin:10px;">
    <h3><%= recipe.title %></h3>
    <p><%= recipe.description %></p>
    <p><b>By:</b> <%= recipe.createdBy.username %></p>

    <!-- View Button -->
    <a href="/recipes/view/<%= recipe._id %>">
      <button>View</button>
    </a>

    <!-- Edit Button -->
    <% if (user.id === recipe.createdBy._id.toString()) { %>
      <a href="/recipes/edit/<%= recipe._id %>">
        <button>Edit</button>
      </a>
    <% } %>

    <!-- Delete Button -->
   <a href="/recipes/delete/<%= recipe._id %>">
  <button>Delete</button>
</a>

  </div>
<% }) %>

</body>

</html>