<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <%- include('navbar') %>

<h2><%= recipe ? ' Edit Recipe' : ' Add Recipe' %></h2>

<form method="POST" action="<%= recipe ? '/recipes/edit/' + recipe._id : '/recipes/new' %>">
  <input name="title" placeholder="Recipe Title" value="<%= recipe ? recipe.title : '' %>" required /><br><br>
  <textarea name="description" placeholder="Description"><%= recipe ? recipe.description : '' %></textarea><br><br>
  <textarea name="ingredients" placeholder="Ingredients"><%= recipe ? recipe.ingredients : '' %></textarea><br><br>
  <textarea name="instructions" placeholder="Instructions"><%= recipe ? recipe.instructions : '' %></textarea><br><br>
  <button type="submit"><%= recipe ? 'Update' : 'Submit' %></button>
</form>



</body>

</html>